.skillWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #f7f7f7;
}

.skills {
    width: calc(100% - 250px);
    min-height: max-content;
    padding-top: 60px;
    padding-bottom: 60px;
    clear: both;
    display: block;

}

.container {
    padding-right: 40px;
    padding-left: 40px;
}

.row_title {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row_info {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.title {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.heading_meta {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #888;
    font-weight: 400;
    letter-spacing: 5px;
}

.addo_heading {
    color: #101010;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.row_info{
    padding-left: 10px;
}
.row_info .text_information{
    position: relative;
    width: 100%;
    min-height: 1px;
}
.row_info .skillsIcon{
    position: relative;
    top: 10px;
    width: 100%;
}

.text {
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: #888;
    margin: 0 0 5px;
}
.textTitle{
    font-family: 'Rambla', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.75em;
    color: #575757;
    margin: 0 0 8px;
}
.blockText{
    padding-left: 20px;
}
@media screen and (max-width: 1100px) {
    .skillWrap {
        display: flex;
        width: 100%;
    }

    .skills {
        width: 100%;
    }
    .row_info {
        display: flex;
        flex-wrap: wrap;
    }
    .text {
        font-family: 'Rambla', sans-serif;
        font-size: 21px;
        line-height: 1.75em;
        font-weight: 400;
        color: #888;
        margin: 0 0 20px;
    }
    .textTitle{
        font-family: 'Rambla', sans-serif;
        font-size: 28px;
        font-weight: 800;
        line-height: 1.75em;
        color: #575757;
        margin: 0 0 8px;
    }
}

@media screen and (max-width: 700px) {
    .skillWrap {
        display: flex;
        width: 100%;
    }

    .skills {
        width: 100%;
    }
    .row_info {
        display: flex;
        flex-wrap: wrap;
    }
}






