.wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    color: #101010;

}

.project {
    width: calc(100% - 300px);
    min-height: max-content;

}
.row{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.section_heading{
    margin-bottom: 48px;
    text-align: left;
}
.section_title{
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -.25px;
    line-height: 100%;
    margin-bottom: 12px;
    position: relative;
}
.section_description{
    font-size: 15px;
    margin-bottom: 1rem;
    margin-top: 0;
}